html {
    font-size: 18px;
    height: 100%;
}

.App {
    padding: 0;
    position: relative;
}

body {
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    color: #686D71;
    line-height: 1.2;
    overflow-x: hidden;
    background: #FBFBFB;
    padding-top: 104px;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #199BB5;
}

a:hover {
    color: #032541;
}

h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
}

.topmenu {
    // I'm nesting them like this because I don't know the scope of the app
    // or how Bootstrap is used all across the rest of it
    // So I only want to apply this styles in this particular place.
    display: block;
    position: fixed;
    z-index: 999;
    height: 104px;
    top: 0;
    left: 0;
    right: 0;
    background: #032541;
    .container {
        height: 100%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        height: 100%;
        align-content: center;
    }
    .nav {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        align-items: center;
        --bs-nav-link-hover-color: #199BB5 !important;
        --bs-nav-link-color: #199BB5;
        --bs-primary: #199BB5;
    }
    .menu {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 1px solid #686D71;
    }
    .nav-link {
        padding: 0;
        margin-left: 1rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        opacity: .9;
        cursor: pointer;
        span {
            border-radius: 4px;
            color: #fff;
            display: inline-block;
            margin-left: 1rem;
            padding: .3rem .5rem .2rem;
            background-color: #199BB5;
        }
        &.mail {
            span {
                position: relative;
                top: -.5rem;
                right: -.5rem;
                background-color: #F9615A;
                border-radius: 50%;
            }
        }
    }
    .ico {
        margin-left: 1rem;
        min-width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .leftMenuToggle {
        background-image: url('./assets/burger.svg');
        background-size: 75%;
        margin-left: 0;
        padding-left: 0;
        &:focus {
            box-shadow: none;
        }
        &.closeMenu {
            background-image: url('./assets/close.svg');
            background-size: 55%;
        }
    }
    .navbar-toggler-icon {
        background: none;
    }
}

.btn {
    border-radius: 20px;
    padding: .3rem 1rem !important;
    font-size: .75rem;
    text-transform: uppercase;
}

.btn.btn-primary {
    background-color: #199BB5;
    border-color: #108CA5;
    color: #fff;
    &:hover {
        background-color: #032541;
    }
    &:focus {
        background-color: #108CA5;
        border-color: #108CA5;
        outline: none !important;
        box-shadow: none;
    }
    &:disabled {
        background-color: #199BB5;
    }
    --bs-btn-bg: #199BB5;
    --bs-btn-border-color: #199BB5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #199BB5;
    --bs-btn-hover-border-color: #199BB5;
    --bs-btn-focus-shadow-rgb: 49,
    132,
    253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #199BB5;
    --bs-btn-active-border-color: #199BB5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #199BB5;
    --bs-btn-disabled-border-color: #199BB5;
}

.btn-outline-primary {
    border-color: #fff !important;
    border-width: 3px;
    background-color: transparent;
    color: #fff !important;
    &:hover {
        background-color: transparent;
        opacity: .8;
    }
    &:focus {
        background-color: transparent;
        outline: none !important;
        box-shadow: none;
    }
    &:disabled {
        opacity: .5 !important;
    }
    --bs-btn-color: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 13,
    110,
    253;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: transparent;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
    --bs-gradient: transparent;
}

button:disabled,
button[disabled] {
    color: #fff !important;
    opacity: .3 !important;
}

.leftMenu {
    padding: .5rem 0;
    flex-direction: row;
    align-content: baseline;
    h3 {
        font-size: .9rem;
        font-weight: 700;
        color: #199BB5;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        padding-bottom: .5rem;
        position: relative;
        &:before {
            content: '';
            width: calc(100% - 1.5rem);
            height: 1px;
            background-color: #ddd;
            position: absolute;
            left: 0;
            bottom: .1rem;
        }
    }
}

.fromHeader {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin: 0 auto;
    .leftMenu {
        max-width: 500px;
        margin: 0 auto;
    }
}

.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: .5rem;
    align-items: center;
    & > :nth-child(2) {
        text-align: right;
    }
}

.loading {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tabNav {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #DADBDD;
    .tabItem {
        padding-bottom: .5rem;
        padding-top: .5rem;
        margin-right: 2rem;
        background-position: left 10%;
        background-repeat: no-repeat;
        cursor: pointer;
        text-align: left;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #50555B;
        font-size: .8rem;
        font-weight: 700;
        span {
            height: 1.3rem;
            margin-right: .7rem;
        }
    }
    .active {
        color: #199BB5;
        border-bottom: 2px solid #199BB5;
        padding-bottom: calc(.5rem - 2px);
        img {
            filter: invert(50%) sepia(45%) saturate(6137%) hue-rotate(161deg) brightness(98%) contrast(80%);
        }
    }
}

.results {
    padding: 0;
    margin: 0 -1rem;
    flex-wrap: wrap;
    display: flex;
    h2 {
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
}

.movieCard {
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 1px rgba(32, 37, 43, 0.1),
    0px 4px 8px rgba(51, 91, 130, 0.12);
    border: 0 none;
    border-radius: 4px;
    flex: 1;
    height: calc(100% - 1.5rem);
    &:hover {
        box-shadow: 0px 0px 1px rgba(32, 37, 43, 0.1),
        0px 18px 18px rgba(32, 37, 43, 0.12);
        cursor: pointer;
    }
    .card-subtitle {
        font-weight: 400;
        font-size: .65rem;
        text-transform: uppercase;
        text-align: center;
        margin-top: .3rem;
        margin-bottom: .5rem;
        color: #8B8E92;
    }
    .card-title {
        font-size: 1.1rem;
        // text-align: center;
        font-weight: bold;
        color: #50555B;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .card-text {
        font-size: .9rem;
        // text-align: center;
        color: #686D71;
        font-weight: 400;
    }
    .card-img-overlay {
        display: flex;
    }
    .card-img {
        aspect-ratio: 2/3;
        background-color: #f0f0f0;
        display: block;
        &.placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .btn {
        margin: auto 0 0 3rem;
        background-color: #fff;
        border: 2px solid #199BB5;
        color: #199BB5;
        &:hover {
            background-color: #fff;
            border-color: #032541;
            color: #032541;
        }
        &:focus {
            background-color: #fff;
            border-color: #108CA5;
        }
    }
}

.castCard {
    height: calc(100% - 1.5rem);
    box-shadow: 0px 0px 1px rgba(32, 37, 43, 0.1),
        0px 4px 8px rgba(51, 91, 130, 0.12);
    border: 0 none;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    flex: 1;
    .card-title {
        font-size: 1.1rem;
        font-weight: bold;
        color: #50555B;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .card-img-overlay {
        display: flex;
    }

    .card-img {
        aspect-ratio: 2/3;
        background-color: #f0f0f0;
        display: block;
        &.placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.movieRating {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    font-size: .75rem;
    line-height: 1;
    position: absolute;
    bottom: 1rem;

    &:before {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        border-radius: 50%;
        background: conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
        mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    }
}

.searchBar {
    border: 1px solid hsla(218, 6%, 72%, .2);
    border-radius: 45px;
    box-shadow: 0px 0px 1px rgba(10, 31, 68, 0.1),
        0px 1px 1px rgba(51, 91, 130, 0.12);
    height: 50px;
    outline: none;
    padding-left: 45px !important;
    width: 100%;
    font-size: .9rem;
    background: #fff .5rem center no-repeat url('./assets/search.svg');

    &::placeholder {
        color: #B4B7BC;
    }
}

.search-icon {
    width: 3rem;
}

.mainContent {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.filterOptions {
    width: 100%;
    display: flex;
    align-items: center;
    .filtersCol {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .dropdown-menu {
        max-height: 550px;
        overflow-y: scroll;
    }
    .form-control {
        font-size: .8rem;
        margin-left: .5rem;
        margin-right: 1rem;
        margin-bottom: .5rem;
        padding-top: .3rem;
        padding-bottom: .3rem;
        width: calc(100% - 1.5rem);
    }
}

.filterDropdown {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    color: #50555B;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    a {
        color: #50555B;
    }
    .dropdown-menu {
        text-transform: none;
        font-size: .8rem;
        font-weight: normal;
    }
    .selectedVal {
        margin-left: .3rem;
        color: #108CA5;
    }
    .filterToggle {
        font-size: .85rem;
        padding-right: 1.5rem;
        background: right center no-repeat;
        background-image: url('./assets/chevrondown.svg');
    }
    .active {
        background: none;
        font-weight: bold;
        color: #108CA5;
    }
}

.itemContent {
    padding: 0;
    h3 {
        font-weight: 700;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-bottom: .3rem;
        border-bottom: 1px solid #bbb;
        font-size: 1.5rem;
    }
}

.hero {
    position: relative;
    .heroImg {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
}

.heroTitle {
    width: 100%;
    font-weight: 700;
    color: #000;
    span {
        font-weight: 400;
    }
}

.heroWrapper {
    display: flex;
    // align-content: center;
    // height: 100%;
    .movieRating {
        position: inherit;
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        &:before {
            width: 3rem;
            height: 3rem;
        }
    }
    .heroDetails {
        margin-top: 2rem;
        .movieTag {
            border-radius: 20px;
            border: 1px solid #199BB5;
            color: #199BB5;
            display: inline-block;
            padding: .3rem 1rem;
            margin-right: 1rem;
            margin-bottom: .7rem;
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.movieNav {
    width: calc(100% - 2rem);
    margin: -1rem 1rem 2rem;
    padding: 0 0 .5rem 0;
    border-bottom: 1px solid #bbb;
    .backBtn {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 1rem;
        position: relative;
        &:before {
            content: '\2190';
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            width: 1rem;
        }
    }
}

.movieCast {
    overflow-y: scroll;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.movieReview {
    border: 1px solid #aaa;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 20px;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.4;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    .movieReviewMeta {
        font-family: sans-serif;
        margin-bottom: 0;
        text-align: right;
        padding-right: 1rem;
        font-style: normal;
    }
    .author {
        font-weight: bold;
        text-transform: uppercase;
        color: #199BB5;
    }
}

.starRating {
    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        &:hover ~ .values {
            display: inline-block;
        }
    }
    .on {
        color: gold;
    }

    .off {
        color: #ccc;
    }
    .values {
        display: none;
        font-size: .8rem;
        margin-left: 2rem;
    }
    .rateResult {
        font-size: .8rem;
        margin-left: 2rem;
    }
}

.modal-dialog {
    font-size: .8rem;
    .modal-title {
        font-weight: bold;
        font-size: 1.1rem;
    }
    .form-control {
        font-size: .8rem;
    }
    p {
        margin-top: 1.5rem;
        font-size: .8rem;
    }
}

@media (max-width: 768px) {
    .filterOptions {
        flex-direction: column;
    }
    .filtersCol {
        margin-bottom: 1.5rem;
    }
    .logoCol {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        .logo img {
            width: 2.5rem;
        }
    }
    .tabItem {
        min-width: 8rem;
    }
}

@media (max-width: 576px) {
    .tabNav {
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .content > :nth-child(2) {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 380px) {
    .movieCard {
        aspect-ratio: 1/1;
    }
}